In [86]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import pymysql
from urllib.parse import quote

In [88]:
aisles_df = pd.read_csv("data/aisles.csv")
products_df = pd.read_csv("data/products.csv")
departments_df = pd.read_csv("data/departments.csv")
order_df = pd.read_csv("data/orders.csv").sample(10000)
order_products_df = pd.read_csv("data/order_products.csv").sample(10000)

In [89]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
526837,1324573,31763,prior,27,1,8,7.0
3284435,1414109,197967,prior,32,1,9,7.0
1766524,778945,106048,train,25,2,22,30.0
2644341,1110466,159205,prior,7,3,17,4.0
511652,58125,30869,prior,5,4,17,6.0

In [90]:
try:
    conn = pymysql.connect(
        host='localhost',           # Your MySQL server address, usually 'localhost'
        user='root',                # Replace 'root' with your MySQL username
        password='Soumya@05',       # Your MySQL password
        database='e_commerce',      # Name of the database you want to connect to
        port=3306                   # MySQL default port is 3306
    )
    print("Connection was successful")
except pymysql.MySQLError as e:
    print(f"Error: {e}")

Connection was successful

In [94]:
cur = conn.cursor()

In [96]:
password = quote("Soumya@05")
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/e_commerce')

In [98]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INT PRIMARY KEY,
    aisle VARCHAR(255)
);
""")

0

In [100]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
);
""")

0

In [102]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
);
""")

0

In [104]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER );
""")

0

In [106]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    );
""")

0

In [108]:
conn.commit()

In [110]:
order_df.drop('eval_set', inplace=True, axis=1)

In [112]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [114]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [ ]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

In [ ]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

In [ ]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)